<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secsm.keepongoing" >
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />
    <!-- 자신의 핸드폰 번호 알아내기 위한 permission -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- SMS관련 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 네트워크 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- GCM 추가 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 프로필 설정 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 알람 관련 -->
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />

    <permission
        android:name="com.secsm.keepongoing.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.secsm.keepongoing.permission.C2D_MESSAGE" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kog_ico"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.secsm.keepongoing" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SnowWiFiMonitor"
            android:enabled="true"
            android:priority="0">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainmenuActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AuthActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AuthNextActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StudyRoomActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NoticeActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Alarm.Alarm_main"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Alarm.alert"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Alarm.alram_list"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddStudyRoomActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddFriendActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InviteFriendsActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Quiz.Quiz_Main"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Quiz.Solve_Main"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PushWakeKogDialog"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Life_Study.achieve_time_show"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Quiz.Quiz_set"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.fragmenttrasitionextendedexample.quiz_set_result"
            android:label="@string/title_activity_quiz_set" >
        </activity>
        <activity
            android:name=".Quiz.Quiz_Set_Search"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.fourmob.datetimepicker.sample.date_pick"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddMoreFriendActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Shared.BaseActivity"
            android:label="@string/title_activity_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ScoreViewActivity"
            android:label="@string/title_activity_score_view" >
        </activity>
    </application>

</manifest>